instance/*.sqlite
instance/*.db
instance/*-journal

/flask_auth/instance/db.sqlite

/flask_auth/project/__pycache__/

/**/__pycache__/

instance/db.sqlite

instance/db.sqlite

flask_auth/instance/db.sqlite

flask_auth/instance/db.sqlite

flask_auth/project/__pycache__/
